/**
 * Todo List App Styling
 * This file was really tiny at first, but now... It's better to use SASS! Absolutely. Hope to fix this soon.
 * Author: Vitalii Rizo
 */

/* Common Styling */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 320px;
    
    background: rgb(249,249,249);
    background: -moz-radial-gradient(center, ellipse cover, rgba(249,249,249,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(249,249,249,1) 0%,rgba(204,204,204,1) 100%);
    background: radial-gradient(ellipse at center, rgba(249,249,249,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cccccc',GradientType=1 );

    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #152949;
}

h1 {
    font-weight: 300;
}

/* Application container */
.TodoApp {
    width: 100%;
    height: 100%;
    max-width: 620px;
    margin: 0 auto;
    display: table;
    text-align: center;
}
.TodoApp__container {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}
.TodoApp__container_animation-wrapper {
    position: relative;
    background: #fff;
    transition: height 0.5s ease;
    min-height: 308px;
    overflow: hidden;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.23);
}
@media screen and (max-width: 449px) {
    .TodoApp__container_animation-wrapper {
        height: 100% !important;
    }
}
.TodoApp__color {
    height: 100%;
}

/* Layout */
.todo-list,
.todo-sidebar {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    width: 100%;
}
@media screen and (min-width: 450px) {
    .todo-sidebar {
        width: 30%;
        height: 100%;
    }
    .todo-list {
        width: 70%;
    }
}

/* Sidebar */
.todo-sidebar {
    background: rgba(246, 246, 246, 1);
    border-right: 1px solid rgba(223, 223, 223, 1);
    padding: 10px 0;
    height: 150px;
}
.todo-sidebar ul {
    max-height: 75%;
    overflow-y: scroll;
}
.todo-list__name {
    padding: 8px 0px 8px 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.5s ease;
}
@media screen and (min-width: 450px) {
    .todo-sidebar {
        height: 100%;
        padding: 20px 0;
    }
    .todo-sidebar ul {
        max-height: 91%;
    }
    .todo-list__name {
        padding: 10px 0px 10px 20px;
    }
}

.todo-list__name input {
    width: calc(100% - 31px);
    margin-right: 5px;
    height: 22px;
    background-color: white;
    border: 0;
    outline: none;
    font-size: 14px;
    text-overflow: ellipsis;
}
.todo-list__name input[readonly] {
    background-color: transparent;
}
.todo-list__name:hover,
.todo-list__name_selected {
    background-color: lightgray;
}
.todo-list__name:hover .todo-list__controls,
.todo-list__name_selected .todo-list__controls {
    display: inline-block;
}
.todo-list__restore {
    font-size: 0;
}
.todo-list__restore:before {
    content: "";
    width: 9px;
    height: 9px;
    border: 2px solid black;
    margin-top: -6px;
    background: transparent;
    border-radius: 16px;
    position: absolute;
    top: 22px;
    right: 10px;
}

.todo-list__restore:after {
    content: "";
    border: 4px solid lightgray;
    border-width: 4px 2px 4px 5px;
    border-left-color: black;
    margin: -9px 0 0;
    background: transparent;
    position: absolute;
    top: 22.4px;
    right: 5px;
    width: 5px;
}

.todo-list__name_deleted {
    opacity: 0.8;
}
.todo-list__name_deleted input {
    opacity: 0.5;
}
.todo-list_deleted:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
    z-index: 10;
}

.todo-list__create {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: 300;
    background: transparent;
    border: none;
    cursor: pointer;
}
.todo-list__create:before {
    content: "+";
    font-size: 16px;
    display: inline-block;
    margin-right: 7px;
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    line-height: 14px; 
    color: rgba(246, 246, 246, 1);
    border-radius: 50%;
    position: relative;
    background: darkgray;
}

/* List */
.todo-list {
    padding: 10px 20px 72px;
}
@media screen and (min-width: 640px) {
    .todo-list {
        padding: 25px 35px 82px;   
    }
}

.todo-sidebar ul,
.todo-list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.todo-list__heading {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 2px;
    word-break: break-all;
}
.todo-list__item {
    border-bottom: 1px solid #ededee;
    padding: 13px 5px 10px 10px;
    transition: background-color 0.5s ease;
}
.todo-list li:first-of-type {
    border-top: 1px solid #ededee;
}

.todo-list__item > i:first-child {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    border: 1px solid #bababa;
    vertical-align: middle;
    margin: 0 8px 4px 0;
    cursor: pointer;
}

.todo-list__item_completed {
    color: #808080;
} 
.todo-list__item_completed > i:first-child {
    background: #68d845;
    box-shadow: -2px 0 1px 0 white inset,
                2px 0 1px 0 white inset,
                0 -2px 1px 0 white inset,
                0 2px 1px 0 white inset;
}

.todo-list__item_detailed {
    background: #ededee;
}
.todo-list__details {
    font-weight: 300;
    padding: 12px 1px 0;
    border-top: 1px solid lightgray;
    margin: 8px 5px 0 0;
}
.todo-list__created-on {
    margin-top: 5px;
    opacity: 0.85;
}
.todo-list__created-on:hover {
    opacity: 1;
}

.todo-list__controls {
    display: none;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    margin-right: 4px;
    vertical-align: middle;
    opacity: 0.45;
    cursor: pointer;
}
.todo-list__item:hover .todo-list__controls {
    display: inline-block;
}
.todo-list__controls:hover {
    opacity: 1;
}

.todo-list input {
    width: calc(100% - 70px);
    border: 0;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    text-overflow: ellipsis;
}
.todo-list__create-item {
    position: absolute;
    bottom: 25px;
    width: calc(100% - 40px);
    /* 25px - container bottom padding */
    /* 40px - right and left padding of container */
}
@media screen and (min-width: 640px) {
    .todo-list__create-item {
        bottom: 35px;
        width: calc(100% - 70px);
    }
}

.todo-list__create-item input {
    width: 100%;
    border-bottom: 1px solid #ededee;
    padding: 16px 15px 12px 10px;
}