/* Common Styling */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 320px;
    
    background: rgb(249,249,249);
    background: -moz-radial-gradient(center, ellipse cover, rgba(249,249,249,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(249,249,249,1) 0%,rgba(204,204,204,1) 100%);
    background: radial-gradient(ellipse at center, rgba(249,249,249,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cccccc',GradientType=1 );

    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #152949;
}

h1 {
    font-weight: 300;
}

/* Application container */
.TodoApp {
    width: 100%;
    height: 100%;
    max-width: 420px;
    margin: 0 auto;
    display: table;
    text-align: center;
}
.TodoApp__container {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}
.TodoApp__container_animation-wrapper {
    position: relative;
    background: #fff;
    transition: height 0.5s ease;
    overflow: hidden;
    box-shadow: 0 0 35px rgba(0,0,0,0.23);
}
.TodoApp__color {
    padding: 10px 20px 72px;
}
@media screen and (min-width: 640px) {
    .TodoApp__color {
        padding: 25px 35px 82px;   
    }
}

/* Header */
header h1 { font-size: 32px; }
@media screen and (min-width: 640px) {
    header h1 { font-size: 42px; }
}

/* List */
ul.todo-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.todo-list__item {
    border-bottom: 1px solid #ededee;
    padding: 13px 5px 10px 10px;
    transition: background-color 0.5s ease;
}
.todo-list li:first-of-type {
    border-top: 1px solid #ededee;
}

.todo-list__item > i:first-child {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    border: 1px solid #bababa;
    vertical-align: middle;
    margin: 0 8px 4px 0;
}

.todo-list__item_completed {
    color: #808080;
} 
.todo-list__item_completed > i:first-child {
    background: #68d845;
    box-shadow: -2px 0 1px 0 white inset,
                2px 0 1px 0 white inset,
                0 -2px 1px 0 white inset,
                0 2px 1px 0 white inset;
}

.todo-list__item_detailed {
    background: #ededee;
}
.todo-list__details {
    font-weight: 300;
    padding: 12px 1px 0;
    border-top: 1px solid lightgray;
    margin: 8px 5px 0 0;
}
.todo-list__created-on {
    margin-top: 5px;
    opacity: 0.85;
}
.todo-list__created-on:hover {
    opacity: 1;
}

.todo-list__controls {
    display: none;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right: 4px;
    vertical-align: middle;
    opacity: 0.45;
    cursor: pointer;
}
.todo-list__item:hover .todo-list__controls {
    display: inline-block;
}
.todo-list__controls:hover {
    opacity: 1;
}

input {
    width: calc(100% - 70px);
    border: 0;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    text-overflow: ellipsis;
}
.todo-list__create-item {
    position: absolute;
    bottom: 25px;
    width: calc(100% - 40px);
    /* 25px - container bottom padding */
    /* 40px - right and left padding of container */
}
@media screen and (min-width: 640px) {
    .todo-list__create-item {
        bottom: 35px;
        width: calc(100% - 70px);
    }
}

.todo-list__create-item input {
    width: 100%;
    border-bottom: 1px solid #ededee;
    padding: 16px 15px 12px 10px;
}

/* Footer */